[Unit]
Description=PiPrintQ Folder Watcher
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/web_dashboard
ExecStart=/usr/bin/python3 /home/pi/web_dashboard/printer_watcher.py
Restart=always

[Install]
WantedBy=multi-user.target
