[Unit]
Description=PiPrintQ Web Dashboard
After=network.target

[Service]
ExecStart=/home/pi/web_dashboard/venv/bin/python /home/pi/web_dashboard/app.py
WorkingDirectory=/home/pi/web_dashboard
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
