[Unit]
Description=PiPrintQ Web Dashboard
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/web_dashboard
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
